@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=VT323&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "VT323", monospace;
}

:root {
    --cor-fundo-pirncipal:#537D5D;
    --cor-player-1:#FFD0C7;
    --cor-player-2:#E69DB8;
    --cor-botao:#F4E7E1;
    --cor-borda:#997C70;
    --cor-borda-main:#426249;
}

body {
    background:#FFD0C7 url(../Images/fundo.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.tela-playlist {
    background-color: hsla(133, 20%, 41%, 0.788);
    width: 300px;
    height: 90vh;
    border: 3px solid #426249;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
}

.song-name-box {
    background-color: #e69db8b4;
    width: 250px;
    margin: 5px;
    padding: 5px;
    border: 3px solid #E69DB8;
    border-radius: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.song-name-box > #song-title {
    font-size: 1.1em;
    color: #ffffff;
    text-shadow:  0px 1px 2px rgba(0, 0, 0, 0.521) ;
    
}

.song-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;

}

#song-image-img {
    width: 44vw;
    object-fit:cover; /*Mantém o preenchimento sem deformar*/
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  
}


/*Area do Palyer*/
.play-area {
    background-color: var(--cor-player-1);
    border: 6px solid #E69DB8;
    border-radius: 30px;
    padding: 20px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.288);
}

.buttons-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.buttons-area .botao {
    width: 80px;
    height: 80px;
    border: 2px solid #E69DB8;
    border-radius: 50%;
    background-color: var(--cor-borda);
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.295);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grabbing;
}

.botao img {
    width: 80%;
    object-fit: contain;    
}

